.menu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

.menu-right {
    float: right;
}

.menu a {
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #776;
}

body {
    background-color: #777;
}